.contactForm {
  display: flex;
  flex-direction: column;
  gap: rem-calc(24);
  max-width: rem-calc(375);
  margin: 0 auto;
  padding: rem-calc(20);
  border: 1px solid #000;
  border-radius: rem-calc(6);

  label {
    font-size: rem-calc(16);

    &.required {
      &::after {
        content: '*';
        color: red;
        margin-left: rem-calc(2);
      }
    }
  }

  input {
    padding: rem-calc(8);
    border: 1px solid #000;
    border-radius: rem-calc(4);
  }

  textarea {
    padding: rem-calc(8);
    height: rem-calc(134);
    border: 1px solid #000;
    border-radius: rem-calc(4);
    font-family: $font-family-red-hat-display;
    resize: none;
  }
}
