label {
  font-size: 0.875rem;
  font-weight: 500;

  &.required::after {
    content: '*';
    color: #ff0000;
    margin-left: rem-calc(2);
  }
}

input {
  height: 2.75rem;
  border: 1px solid #767676;
  border-radius: rem-calc(8);
}
